.album {
    max-width: 100%;
    min-width: 200px;
    border-radius: 10px;
    box-shadow: 3px 3px 5px 6px #ccc;
    margin: 10px;
    text-align: center;
    height: calc(100vh - 60px);
    position: sticky;
    top: 10px;
    padding: 10px;
}
@media (max-width: 600px) {
  .album {
    margin-right: 10px;
    min-width: auto;
  }
}
@media (max-width: 480px) {
  .album {
    width: 90%;
    margin:0 auto;
  }
}
ul {
  list-style: none;
  height: auto;
  padding: 0px;
}
  
  /* Responsive album gallery rules begin*/
  
  .album-gallery {
    text-align: center;
  }
  
  .album-gallery > li {
    /* fallback */
    display: inline-block;
    width: 40px;
    margin: 0 5px 10px 5px;
    /* end fallback */
    position: relative;
    cursor: pointer;
  }
  
  @supports (display: flex) {
    .album-gallery {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      gap: 10px;
    }
  
    .album-gallery > li {
      flex-basis: 40px; /*width: 40px;*/
      margin: 0;
    }
  
    .album-gallery::after {
      content: "";
      flex-basis: 40px;
    }
  }
  
  .album-gallery li img {
    object-fit: cover;
    width: 40px;
    height: 40px;
    vertical-align: middle;
    border-radius: 5px;
  }
  .thumbnail-close {
    position:absolute;
    top: -10px;
    right: -10px;
  }

  .close-icon {
    position: relative;
    display: inline-block;
    width: 19px; 
    height: 20px;
    cursor: pointer;
    background-color: #00000040; 
    border-radius: 50%;
  }
  
  .close-icon:before, .close-icon:after {
    content: '';
    position: absolute;
    width: 1px;
    height: 16px; 
    background-color: #fff; 
    top: 2px;
    left: 9px;
  }
  
  .close-icon:before {
    transform: rotate(45deg);
  }
  
  .close-icon:after {
    transform: rotate(-45deg);
  }
  

  /* hover */
  .album-gallery li:hover .overlay {
    transform: scale(1);
    opacity: 80%;
    color: red;
    font-weight: bolder;
    background-color: #FFF;
  }

  .album-list {
    text-align: left;
    font-size: 12px;
    margin: 10px;
  }